In [30]:
import os
import pandas as pd
import json
import numpy as np

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [31]:
df = pd.read_csv("fulldata/cleanseddata.csv")

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4077 entries, 0 to 4076
Data columns (total 11 columns):
Unnamed: 0         4077 non-null int64
bltasid            4077 non-null int64
residentialsf      4077 non-null int64
bsmntsf            4077 non-null int64
bsmntfinsf         4077 non-null int64
garagesf           4077 non-null int64
grossacres         4074 non-null float64
yrblt              4077 non-null int64
salep              4077 non-null int64
DayOfYear          4077 non-null int64
SubDivisionCode    4077 non-null int64
dtypes: float64(1), int64(10)
memory usage: 350.5 KB

In [33]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [34]:
df

,bltasid,residentialsf,bsmntsf,bsmntfinsf,garagesf,grossacres,yrblt,salep,DayOfYear,SubDivisionCode
0,14,672,0,0,0,0.00,1970,14000,213,344
1,1,1080,0,0,297,0.15,1958,370000,213,317
2,1,890,0,0,280,0.42,1900,347500,213,467
3,7,1636,448,0,432,0.19,1975,395000,213,650
4,7,1580,0,0,480,0.22,1972,386000,213,612
...,...,...,...,...,...,...,...,...,...,...
4072,7,3196,0,0,714,0.39,1977,800000,214,484
4073,7,1344,0,0,288,0.11,1979,352000,214,332
4074,1,1451,1413,1217,484,0.16,1988,600000,214,304
4075,7,2198,922,922,506,0.14,1988,473330,214,4
4076,1,1739,1669,840,420,0.11,2017,665400,214,48

In [35]:
X = df.drop(columns="salep")
y = df.salep

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4077 entries, 0 to 4076
Data columns (total 9 columns):
bltasid            4077 non-null int64
residentialsf      4077 non-null int64
bsmntsf            4077 non-null int64
bsmntfinsf         4077 non-null int64
garagesf           4077 non-null int64
grossacres         4074 non-null float64
yrblt              4077 non-null int64
DayOfYear          4077 non-null int64
SubDivisionCode    4077 non-null int64
dtypes: float64(1), int64(8)
memory usage: 286.8 KB

In [29]:
y.info()

AttributeError: 'Series' object has no attribute 'info'

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [17]:
from sklearn.preprocessing import StandardScaler
s_scaler = StandardScaler()
X_train = s_scaler.fit_transform(X_train.astype(np.float))
X_test = s_scaler.transform(X_test.astype(np.float))

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam

/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [22]:
# Start with 9 neurons because we have 9 features

model = Sequential()
model.add(Dense(9,activation='relu'))
model.add(Dense(9,activation='relu'))
model.add(Dense(9,activation='relu'))
model.add(Dense(9,activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam',loss='mse')

WARNING:tensorflow:From /Users/david/miniconda3/envs/spleeter-cpu/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

3079    730000
918     590000
3011    467000
3657    430000
3893    625000
         ...
2597    625000
2778    652000
1391    395500
3107    545000
3914    600000
Name: salep, Length: 1346, dtype: int64

In [24]:
model.fit(x=X_train,y=y_train, validation_data=(X_test,y_test), batch_size=128,epochs=400)

ValueError: Please provide as model targets either a single array or a list of arrays. You passed: y=2912    346000
1228    430000
1205    305000
2188    395000
566     370000
         ...
1599    547500
3910    308000
1361    300000
1547    342000
863     399900
Name: salep, Length: 2731, dtype: int64